.cover__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

/*.cover__link:hover {
  opacity: .3;
  transition: opacity #2a2c2f .3s ease;
}*/
