.intro {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding: 0 148px 0;
  justify-content: flex-start;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 0 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 0 24px 0;
  }
}
