
@font-face {
  src: url(./fonts/Inter/static/Inter-Regular.ttf);
  font-family: "Inter-Regular";
  font-weight: normal;
}

@font-face {
  src: url(./fonts/Inter/static/Inter-Bold.ttf);
  font-family: "Inter-Bold";
  font-weight: bold;
}
@font-face {
  src: url(./fonts/Inter/static/Inter-Black.ttf);
  font-family: "Inter-Black";
  font-weight: bolder;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter-Regular', Arial, Helvetica, sans-serif;
  background-color: #2a2c2f;
  color: #fff;
  padding: 0;
  }
/*header styles*/
/*.header__container {
    display: flex;
}*/
.logo {
  list-style: none;
  width: 190px;
  height: 44px;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
  /*TODO: change padding so its all 4 sides, others are 0*/
  padding: 34px 0 0;
}

.header__lang-link {
  list-style: none;
  text-decoration: none;
  color: #fff;
  display: inline;
  padding: 0 8px 0 0;
  font-weight:normal;
  font-size: 24px;
  line-height: 28px;
}

.header__lang-link_current {
  text-decoration: underline;
}

/*lead styles*/

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
}

.lead__image {
  max-width: 984px;
  max-height: 615px;
}

.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 1;
  text-align: center;
  max-width: 80%;
  margin: 0;
  padding: 58px 0 0;/*mke responsive but how?*/
}

.lead__subtitle {
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  max-width: 60%;
  margin: 0;
  padding: 32px 0 0;/*TODO: make responsive?*/
}

.lead__image {
  padding: 46px 0 0;/*TODO: make responsive?*/
}

.lead__caption {
  align-self: flex-start;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  padding: 26px 0 0;/*TODO: make responsive?*/
  margin: 0;
}

.intro {
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 80%;
  justify-content: flex-start;
  margin: 0 auto;
}

.intro__container {
  max-width: 70%;
}

.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 1;
  padding: 92px 0 0;
  margin: 0;
}

.intro__text {
  font-weight: normal;
  font-size: 24px;
  line-height: 1.4;
  padding: 40px 0 0;
  margin: 0;
}

.intro__paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  padding: 32px 0 0;
  margin: 0;
}

.intro__list {
  list-style: none;
  margin: 0;
  padding: 33px 0 0;
}

.intro__list-item {
  list-style: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.5;
}

.intro__list-item_bold {
  font-weight: bold;
}

.photo-grid {
  max-width: 92%;
  margin: 0 auto;
  padding: 92px 0 12px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 16px;
}

.photo-grid__item {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.places {
  max-width: 80%;
  margin: 0 auto;
}

.place {
  padding: 80px 0 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows
  row-gap: 48px;: 1fr 3fr;
  column-gap: 40px;
  row-gap: 48px;
}

.place__title {
font-weight: 900;
font-size: 72px;
line-height: 1;
margin: 0;
}

.place__image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.place__website {
  grid-column: 2;
  grid-row: 1;
  padding: 30px 0 0;
}

.place__url-heading {
font-weight: normal;
font-size: 12px;
line-height: 1.7;
letter-spacing: 0.2em;
color: #AAAAAA;
text-transform: uppercase;
}

.place__link {
font-weight: normal;
font-size: 18px;
line-height: 1.22;
color: #fff;
text-decoration-line: underline;
}

.place__paragraphs {

}

.place__paragraph {
font-weight: normal;
font-size: 18px;
line-height: 1.6;
}





