.place {
  padding: 80px 0 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 48px;
  height: calc(100% - 48px);
}

.place:first-of-type {
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    padding: 70px 0 0;
    column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    display: flex;
    flex-direction: column;
    object-fit: cover;
    padding: 48px 0 0;
    max-height: none;
    column-gap: 0;
    row-gap: 30px;
    align-items: flex-start;
  }
}
