.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding: 0 48px 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px 24px;
  }
}

@media screen and (max-width: 460px) {
  .footer {
    flex-direction: column;
    gap: 30px;
    padding: 0 16px 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    gap: 0;
  }
}
