.cover__content {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 740px;
  background-image: url(../../../images/cover-route-66.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.cover__content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #2a2c2f;
  opacity: .3;
  transition: opacity .3s ease;
}

.cover__content:hover::before {
  opacity: .8;
}
